<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "headline": "{{ page.title | escape }}",
  "description": "{{ page.description | escape }}",
  "image": "{{ page.image | default: site.default_image }}",
  "author": {
    "@type": "Person",
    "name": "Aldjia Boughias"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Aldjia Dev",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/assets/images/favicon.png"
    }
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}"
}
</script>
