---
layout: default
title: Dev Zone
---

<section class="container py-5">
  <h1 class="text-center display-5 mb-5">Dev Zone</h1>

  <p class="text-center mb-5">
    <strong>Dev Zone</strong> est un podcast dédié à celles et ceux qui vivent le développement web au quotidien.<br>
    Des interviews, des retours d’expérience, des parcours inspirants.
  </p>

  <div class="row g-4 justify-content-center">
    <!-- Épisode 0 -->
    <div class="col-md-6 col-lg-4 d-flex">
      {% include card.html
        title="Dev Zone — On entre dans la Zone !"
        description="Un podcast humain dans un monde numérique. Aldjia Boughias vous embarque dans une conversation sur la tech, les choix de vie et les récits inspirants."
        image="/assets/images/devzone.jpeg"
        url="https://open.spotify.com/episode/4p1JlnFEONylzl9UnMC4U7?si=CCzYUr9iSzen2v24AUDv9w"
        cta="Écouter l’épisode" %}
    </div>

    <!-- Épisode 1 -->
    <div class="col-md-6 col-lg-4 d-flex">
      {% include card.html
        title="Dev Zone - David Leuliette : de React Native à l’entrepreneuriat, oser sa propre voie"
        description="David Leuliette, CEO de WeShipItToday, expert React Native depuis 2016 et créateur du podcast Le Cross Platform Show, partage ici son parcours. Une conversation authentique, inspirante et pleine de conseils concrets pour celles et ceux qui veulent oser, innover et trouver leur propre voie."
        image="/assets/images/devzone.jpeg"
        url="https://open.spotify.com/episode/0oW4RZ7s59gWhdK6ooXIxa"
        cta="Écouter l’épisode" %}
    </div>

    <!-- Épisode Spécial Readnest -->
    <div class="col-md-6 col-lg-4 d-flex">
      {% include card.html
        title="Dev Zone — Épisode Spécial Readnest : De la Curiosité au Code - Construire l'Alternative Fullstack pour le Livre"
        description="Dans cet épisode spécial, j’explore comment la curiosité, l’éthique et le code peuvent s’unir pour créer Readnest : une plateforme Fullstack Ruby on Rails pensée pour reconnecter lecteur·ice·s, auteur·ice·s, libraires et maisons d’édition. Une aventure de construction, d’impact et de sens."
        image="/assets/images/devzone.jpeg"
        url="https://open.spotify.com/episode/7BXR6rgveZL4nyjJEBIaVq?si=ogHn9U2bQmKaTWA3PaBdNQ"
        cta="Écouter l’épisode" %}
    </div>

        <!-- Épisode RGPD / NIS2 / AI Act -->
    <div class="col-md-6 col-lg-4 d-flex">
      {% include card.html
        title="Dev Zone — RGPD, NIS 2, AI Act : La Conformité Numérique expliquée par Senosen"
        description="Un échange essentiel avec l’équipe du cabinet Senosen : Nicolas Ragot, Paul Fouquet et Maxime Moisant. Ensemble, nous explorons la conformité numérique, le RGPD, NIS 2, DORA, l’AI Act, et la manière de transformer la réglementation en avantage stratégique — avec un éclairage unique mêlant droit, cybersécurité et développement."
        image="/assets/images/devzone.jpeg"
        url="https://open.spotify.com/episode/04DMAenSDUs7DpUGDkIWue?si=pJT8YdGfSTu6rlReIPUHqw"
        cta="Écouter l’épisode" %}
    </div>

       <!-- Épisode Camille Coutens -->
    <div class="col-md-6 col-lg-4 d-flex">
      {% include card.html
        title="Dev Zone — Camille Coutens : du code propre au produit utile"
        description="Développeuse web et mobile spécialisée en Vue.js et Nuxt.js, Camille Coutens partage son parcours, sa vision du product thinking et son approche pour transformer une idée en application utile et bien pensée."
        image="/assets/images/devzone.jpeg"
        url="https://open.spotify.com/episode/6mYbiXgH76KsLBubN0L9Ny?si=pLk-DupzSaePSCwfP0xwsA"
        cta="Écouter l’épisode" %}
    </div>

  </div>
</section>
