---
layout: default
title: Dev Zone
---

<section class="container py-5">
  <h1 class="text-center display-5 mb-5">Dev Zone</h1>

  <p class="text-center mb-5">
    <strong>Dev Zone</strong> est un podcast dédié à celles et ceux qui vivent le développement web au quotidien.<br>
    Des interviews, des retours d’expérience, des parcours inspirants.
  </p>

  <div class="row g-4 justify-content-center">
    <!-- Épisode 0 -->
    <div class="col-md-6 col-lg-4 d-flex">
      {% include card.html
        title="Dev Zone — Épisode 0 - On entre dans la Zone !"
        description="Un podcast humain dans un monde numérique. Aldjia Boughias vous embarque dans une conversation sur la tech, les choix de vie et les récits inspirants."
        image="/assets/images/devzone.jpeg"
        url="https://open.spotify.com/episode/4p1JlnFEONylzl9UnMC4U7?si=CCzYUr9iSzen2v24AUDv9w"
        cta="Écouter l’épisode" %}
    </div>

    <!-- Épisode 1 -->
    <div class="col-md-6 col-lg-4 d-flex">
      {% include card.html
        title="Dev Zone — Épisode 1 - David Leuliette : de React Native à l’entrepreneuriat, oser sa propre voie"
        description="David Leuliette, CEO de WeShipItToday, expert React Native depuis 2016 et créateur du podcast Le Cross Platform Show, partage ici son parcours. Une conversation authentique, inspirante et pleine de conseils concrets pour celles et ceux qui veulent oser, innover et trouver leur propre voie."
        image="/assets/images/devzone.jpeg"
        url="https://open.spotify.com/episode/0oW4RZ7s59gWhdK6ooXIxa"
        cta="Écouter l’épisode" %}
    </div>
  </div>
</section>

